.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(12px);
    background: rgba(121, 156, 212, 0.5);

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
