.user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.user-ph {
    max-width: 58px;
}
.menu-user--deck {
    position: absolute;
    bottom: -167px;
    right: 0;
    width: 270px;
    padding: 32px 24px;
    background: #fff;
    box-shadow: 4px 4px 4px rgba(54, 54, 54, 0.05), -4px 4px 4px rgba(54, 54, 54, 0.05);
    border-radius: 0px 0px 10px 10px;
    z-index: 1000;
}
.menu-user--deck .link-oth {
    margin: 0;
}
.menu-user--deck .menu-link {
    text-align: right;
    cursor: pointer;
}
.menu-user--deck .menu-link:first-child {
    display: block;
    margin-bottom: 32px;
}
@media screen and (max-width: 1024px) {
    .user {
        display: none;
    }
}