@import '@constants/colors.module';

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
}

.btns-wrapper {
    display: flex;
    flex-direction: column;
    :global {
        .ant-form-item-control-input-content {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .ant-btn-primary {
                background-color: $primary-light-6;
            }
        }
    }
}
